<a href="https://colab.research.google.com/github/MathewBiddle/sandbox/blob/main/notebooks/CKAN_API_Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Search [IOOS Data Catalog](https://data.ioos.us/) for CF standard names that contain `oxygen` and `sea_water`.

In [59]:
try:
   import ckanapi
except:
   !pip install ckanapi

Build CKAN API query.

In [19]:
from ckanapi import RemoteCKAN
ua = 'ckanapiioos/1.0 (+https://ioos.us/)'

#ioos_catalog = RemoteCKAN('https://data.ioos.us', user_agent=ua, get_only=True)
ioos_catalog = RemoteCKAN('https://data.ioos.us', user_agent=ua)
ioos_catalog

Tell me what organizations are there.

In [20]:
orgs = ioos_catalog.action.organization_list()
print(orgs)

['aoos', 'caricoos', 'cdip', 'cencoos', 'comt', 'gcoos', 'glider-dac', 'glos', 'hf-radar-dac', 'ioos', 'maracoos', 'nanoos', 'neracoos', 'noaa-co-ops', 'noaa-ndbc', 'oceansites', 'pacioos', 'sccoos', 'secoora', 'unidata', 'usgs', 'us-navy']

Grab all the datasets available.

In [40]:
#datasets = ioos_catalog.action.package_search(fq='+cf_standard_names:mass_concentration_of_oxygen_in_sea_water', rows=50)
datasets = ioos_catalog.action.package_search()
datasets['count']

6

Collect CF standard names that contain `oxygen` and `sea_water` from the CF standard name list.

In [30]:
import pandas as pd

url = "https://cfconventions.org/Data/cf-standard-names/current/src/cf-standard-name-table.xml"

df = pd.read_xml(url, xpath="entry")

std_names = df.loc[(df['id'].str.contains('oxygen') & df['id'].str.contains('sea_water'))]

std_names

,id,canonical_units,grib,amip,description
444,depth_at_shallowest_local_minimum_in_vertical_...,m,None,None,Depth is the vertical distance below the surfa...
588,fractional_saturation_of_oxygen_in_sea_water,1,None,None,Fractional saturation is the ratio of some mea...
1274,mass_concentration_of_oxygen_in_sea_water,kg m-3,None,None,Mass concentration means mass per unit volume ...
1616,mole_concentration_of_dissolved_molecular_oxyg...,mol m-3,None,None,Mole concentration means number of moles per u...
1617,mole_concentration_of_dissolved_molecular_oxyg...,mol m-3,None,None,"""Mole concentration at saturation"" means the m..."
1618,mole_concentration_of_dissolved_molecular_oxyg...,mol m-3,None,None,Mole concentration means number of moles per u...
1848,moles_of_oxygen_per_unit_mass_in_sea_water,mol kg-1,None,None,"moles_of_X_per_unit_mass_inY is also called ""m..."
2975,surface_molecular_oxygen_partial_pressure_diff...,Pa,None,None,"The surface called ""surface"" means the lower b..."
3460,temperature_of_sensor_for_oxygen_in_sea_water,K,None,None,Temperature_of_sensor_for_oxygen_in_sea_water ...
4460,volume_fraction_of_oxygen_in_sea_water,1,None,None,"""Volume fraction"" is used in the construction ..."
4463,volume_mixing_ratio_of_oxygen_at_stp_in_sea_water,1,None,None,"""ratio_of_X_to_Y"" means X/Y. ""stp"" means stand..."

Search IOOS Data Catalog for CF standard names that match those above.

In [58]:
from ckanapi import RemoteCKAN
ua = 'ckanapiioos/1.0 (+https://ioos.us/)'

#ioos_catalog = RemoteCKAN('https://data.ioos.us', user_agent=ua, get_only=True)
ioos_catalog = RemoteCKAN('https://data.ioos.us', user_agent=ua)
ioos_catalog

for std_name in std_names['id']:

  print(std_name)

  fq = '+cf_standard_names:{}'.format(std_name)

  datasets = ioos_catalog.action.package_search(fq=fq)

  print('found {} dataset(s)'.format(datasets['count']))

  if datasets['count'] > 0:
    for dataset in datasets['results']:
      print('\t',dataset['title'],dataset['resources'][0]['url'])

depth_at_shallowest_local_minimum_in_vertical_profile_of_mole_concentration_of_dissolved_molecular_oxygen_in_sea_water
found 0 dataset(s)
fractional_saturation_of_oxygen_in_sea_water
found 1 dataset(s)
	 ce_311-20190703T1802 https://gliders.ioos.us/thredds/dodsC/deployments/OOI-CE/ce_311-20190703T1802/ce_311-20190703T1802.nc3.nc
mass_concentration_of_oxygen_in_sea_water
found 0 dataset(s)
mole_concentration_of_dissolved_molecular_oxygen_in_sea_water
found 1 dataset(s)
	 ce_311-20190703T1802 https://gliders.ioos.us/thredds/dodsC/deployments/OOI-CE/ce_311-20190703T1802/ce_311-20190703T1802.nc3.nc
mole_concentration_of_dissolved_molecular_oxygen_in_sea_water_at_saturation
found 0 dataset(s)
mole_concentration_of_dissolved_molecular_oxygen_in_sea_water_at_shallowest_local_minimum_in_vertical_profile
found 0 dataset(s)
moles_of_oxygen_per_unit_mass_in_sea_water
found 0 dataset(s)
surface_molecular_oxygen_partial_pressure_difference_between_sea_water_and_air
found 0 dataset(s)
temperature_of_sensor_for_oxygen_in_sea_water
found 0 dataset(s)
volume_fraction_of_oxygen_in_sea_water
found 0 dataset(s)
volume_mixing_ratio_of_oxygen_at_stp_in_sea_water
found 0 dataset(s)