In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
df = pd.read_csv('event.txt', sep='\t')
df

,id,eventID,eventDate,countryCode,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,geodeticDatum
0,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,2017-08-20T22:48:00Z,US,12,12,69.3443,-163.5095,WGS84
1,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,2017-08-17T15:24:00Z,US,13,13,70.0357,-162.7660,WGS84
2,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,2017-08-17T06:18:00Z,US,16,16,70.4950,-160.6218,WGS84
3,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,2017-08-17T17:42:00Z,US,20,20,70.1388,-163.0542,WGS84
4,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,2017-08-21T01:22:00Z,US,20,20,69.4504,-163.9212,WGS84
...,...,...,...,...,...,...,...,...,...
149,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,2017-08-07T09:17:00Z,US,48,48,68.1240,-167.4979,WGS84
150,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,2017-08-07T05:34:00Z,US,51,51,68.0090,-167.8681,WGS84
151,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,2017-08-07T02:23:00Z,US,56,56,67.8921,-168.2260,WGS84
152,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,2017-08-06T23:04:00Z,US,48,48,67.7779,-168.6052,WGS84
153,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,2017-08-06T19:33:00Z,US,45,45,67.6645,-168.9554,WGS84

In [4]:
gdf = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.decimalLongitude,df.decimalLatitude,crs='epsg:4326'))

In [5]:
gdf

,id,eventID,eventDate,countryCode,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,geodeticDatum,geometry
0,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,2017-08-20T22:48:00Z,US,12,12,69.3443,-163.5095,WGS84,POINT (-163.50950 69.34430)
1,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,2017-08-17T15:24:00Z,US,13,13,70.0357,-162.7660,WGS84,POINT (-162.76600 70.03570)
2,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,2017-08-17T06:18:00Z,US,16,16,70.4950,-160.6218,WGS84,POINT (-160.62180 70.49500)
3,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,2017-08-17T17:42:00Z,US,20,20,70.1388,-163.0542,WGS84,POINT (-163.05420 70.13880)
4,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,2017-08-21T01:22:00Z,US,20,20,69.4504,-163.9212,WGS84,POINT (-163.92120 69.45040)
...,...,...,...,...,...,...,...,...,...,...
149,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,2017-08-07T09:17:00Z,US,48,48,68.1240,-167.4979,WGS84,POINT (-167.49790 68.12400)
150,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,2017-08-07T05:34:00Z,US,51,51,68.0090,-167.8681,WGS84,POINT (-167.86810 68.00900)
151,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,2017-08-07T02:23:00Z,US,56,56,67.8921,-168.2260,WGS84,POINT (-168.22600 67.89210)
152,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,2017-08-06T23:04:00Z,US,48,48,67.7779,-168.6052,WGS84,POINT (-168.60520 67.77790)
153,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,2017-08-06T19:33:00Z,US,45,45,67.6645,-168.9554,WGS84,POINT (-168.95540 67.66450)

In [6]:
gdf.to_crs('epsg:4267')

,id,eventID,eventDate,countryCode,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,geodeticDatum,geometry
0,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,2017-08-20T22:48:00Z,US,12,12,69.3443,-163.5095,WGS84,POINT (-163.50635 69.34494)
1,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,2017-08-17T15:24:00Z,US,13,13,70.0357,-162.7660,WGS84,POINT (-162.76271 70.03629)
2,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,2017-08-17T06:18:00Z,US,16,16,70.4950,-160.6218,WGS84,POINT (-160.61842 70.49554)
3,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,2017-08-17T17:42:00Z,US,20,20,70.1388,-163.0542,WGS84,POINT (-163.05091 70.13939)
4,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,2017-08-21T01:22:00Z,US,20,20,69.4504,-163.9212,WGS84,POINT (-163.91804 69.45104)
...,...,...,...,...,...,...,...,...,...,...
149,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,2017-08-07T09:17:00Z,US,48,48,68.1240,-167.4979,WGS84,POINT (-167.49489 68.12473)
150,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,2017-08-07T05:34:00Z,US,51,51,68.0090,-167.8681,WGS84,POINT (-167.86509 68.00974)
151,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,2017-08-07T02:23:00Z,US,56,56,67.8921,-168.2260,WGS84,POINT (-168.22299 67.89285)
152,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,2017-08-06T23:04:00Z,US,48,48,67.7779,-168.6052,WGS84,POINT (-168.60219 67.77866)
153,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,2017-08-06T19:33:00Z,US,45,45,67.6645,-168.9554,WGS84,POINT (-168.95239 67.66527)

In [7]:
gdf.geometry.x

0     -163.5095
1     -162.7660
2     -160.6218
3     -163.0542
4     -163.9212
         ...
149   -167.4979
150   -167.8681
151   -168.2260
152   -168.6052
153   -168.9554
Length: 154, dtype: float64

In [8]:
gdf.geometry.y

0      69.3443
1      70.0357
2      70.4950
3      70.1388
4      69.4504
        ...
149    68.1240
150    68.0090
151    67.8921
152    67.7779
153    67.6645
Length: 154, dtype: float64

In [9]:
gdf['decimalLat_NAD27'] = gdf.geometry.y
gdf['decimalLon_NAD27'] = gdf.geometry.x

gdf

,id,eventID,eventDate,countryCode,minimumDepthInMeters,maximumDepthInMeters,decimalLatitude,decimalLongitude,geodeticDatum,geometry,decimalLat_NAD27,decimalLon_NAD27
0,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,AMBON_Zooplankton_2017_BBL1_2017-08-20T22:48:00Z,2017-08-20T22:48:00Z,US,12,12,69.3443,-163.5095,WGS84,POINT (-163.50950 69.34430),69.3443,-163.5095
1,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,AMBON_Zooplankton_2017_ML1.1_2017-08-17T15:24:00Z,2017-08-17T15:24:00Z,US,13,13,70.0357,-162.7660,WGS84,POINT (-162.76600 70.03570),70.0357,-162.7660
2,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,AMBON_Zooplankton_2017_ML3.1_2017-08-17T06:18:00Z,2017-08-17T06:18:00Z,US,16,16,70.4950,-160.6218,WGS84,POINT (-160.62180 70.49500),70.4950,-160.6218
3,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,AMBON_Zooplankton_2017_ML1.2_2017-08-17T17:42:00Z,2017-08-17T17:42:00Z,US,20,20,70.1388,-163.0542,WGS84,POINT (-163.05420 70.13880),70.1388,-163.0542
4,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,AMBON_Zooplankton_2017_BBL2_2017-08-21T01:22:00Z,2017-08-21T01:22:00Z,US,20,20,69.4504,-163.9212,WGS84,POINT (-163.92120 69.45040),69.4504,-163.9212
...,...,...,...,...,...,...,...,...,...,...,...,...
149,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,AMBON_Zooplankton_2017_DBO3.4_2017-08-07T09:17...,2017-08-07T09:17:00Z,US,48,48,68.1240,-167.4979,WGS84,POINT (-167.49790 68.12400),68.1240,-167.4979
150,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,AMBON_Zooplankton_2017_DBO3.5_2017-08-07T05:34...,2017-08-07T05:34:00Z,US,51,51,68.0090,-167.8681,WGS84,POINT (-167.86810 68.00900),68.0090,-167.8681
151,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,AMBON_Zooplankton_2017_DBO3.6_2017-08-07T02:23...,2017-08-07T02:23:00Z,US,56,56,67.8921,-168.2260,WGS84,POINT (-168.22600 67.89210),67.8921,-168.2260
152,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,AMBON_Zooplankton_2017_DBO3.7_2017-08-06T23:04...,2017-08-06T23:04:00Z,US,48,48,67.7779,-168.6052,WGS84,POINT (-168.60520 67.77790),67.7779,-168.6052
153,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,AMBON_Zooplankton_2017_DBO3.8_2017-08-06T19:33...,2017-08-06T19:33:00Z,US,45,45,67.6645,-168.9554,WGS84,POINT (-168.95540 67.66450),67.6645,-168.9554